<div id="content">
  {{#if body}}
  <div id="editor">{{body}}</div>
  {{else}}
  <div id="editor">
       ______                  __
      / ____/ ____ _   _____  / /_  ____
     / /     / __ `/  / ___/ / __/ / __ \
    / /___  / /_/ /  (__  ) / /_  / /_/ /
    \____/  \__,_/  /____/  \__/  \____/  v{{version}}

      Drag and drop text file here :)
  </div>
  {{/if}}
</div>
<div id="menu">
  <ol>
    <li><a href="/">{{appName}} v{{version}}</a></li>
    <li><i class="fa fa-cloud"></i> <span id="filename">{{#if filename}}{{filename}}{{else}}{{unique}}{{/if}}</span></li>
    <li><a href="#" id="new"><i class="fa fa-plus-square"></i> New File</a></li>
    <li><a href="#" id="volume"><i class="fa fa-volume-off"></i> <span>Un Mute</span></a></li>
  </ol>
  <span class="powerd">
    <i class="fa fa-flash"></i> by <a href="{{apiUrl}}" target="_blank">{{apiName}}</a> and <a href="https://github.com/rendrjs/rendr" target="_blank">Rendr</a>.
  </span>
</div>
<audio src="/keyboard.mp3" id="type">

