<div id="content">
  {{#if body}}
  <div id="editor">{{unescape body}}</div>
  {{else}}
  <div id="editor">
       ______                  __
      / ____/ ____ _   _____  / /_  ____
     / /     / __ `/  / ___/ / __/ / __ \
    / /___  / /_/ /  (__  ) / /_  / /_/ /
    \____/  \__,_/  /____/  \__/  \____/  v{{version}}


    How to use:

     1. Prepare a text file.
         __________
        | ........ |
        | .....    |
        | ........ |
        | ...    __|
        |       | /
        |_______|/


     2. Drag and drop the file on this window.
         ________________
        | | ____________ |          _____
        | ||::::::::::::||         |     |
        | ||:::::::::   ||  <----  |    _|
        | ||____________||         |___|/
        |_|______________|
            __|_|__|__


     3. Edit the file with your favorite editor :)


  </div>
  {{/if}}
</div>
<div id="menu">
  <ol>
    <li>{{appName}} v{{version}}</li>
    <li id="filename"><i class="fa fa-unlink"></i> <span>{{#if filename}}{{filename}}{{else}}{{unique}}{{/if}}</span></li>
    <li id="volume"><i class="fa fa-volume-up"></i> <span>Mute</span></li>
    <li id="new"><i class="fa fa-plus-square"></i> <span>New File</span></li>
  </ol>
  <span class="powerd">
    <i class="fa fa-flash"></i> by <a href="{{apiUrl}}" target="_blank">{{apiName}}</a> and <a href="https://github.com/rendrjs/rendr" target="_blank">Rendr</a>.
  </span>
</div>
<div class="connected message">
  <h2><i class="fa fa-link fa-lg"></i></h2>
  <p>Connected! Start coding in your editor.</p>
</div>
<div class="disconnected message">
  <h2><i class="fa fa-unlink fa-lg"></i></h2>
  <p>Disconnected. Please Drag and drop text file.</p>
</div>
<audio preload="auto" id="added">
  <source src="/sounds/added.ogg" type="audio/ogg">
  <source src="/sounds/added.mp3" type="audio/mpeg">
</audio>
<audio preload="auto" id="removed">
  <source src="/sounds/removed.ogg" type="audio/ogg">
  <source src="/sounds/removed.mp3" type="audio/mpeg">
</audio>
<input type="file" id="file">

